.hero-srv-panendoscopia {
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 80% 20%;
  justify-content: center;
  align-items: center;
  background-image: url(/images/backgrounds/PanendoscopiaFondo.png);
  transform: rotateY(180deg);
  background-size: cover;
  background-position: bottom left;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0 59%);
}

.hero-srv-panendoscopia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 47%;
  z-index: 1;
}

.banner-panendoscopia{
    transform: rotateY(-180deg);
    z-index: 3;
}
.banner-panendoscopia h1{
    font-weight: 400;
    border: 2px solid #a0a0a0;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    color: var(--primario);
}