:root {
    --primario: #41B7B7;
    --secundario: #629941;
    --backOscuro: #232323;
    --blanco: #fff;
    --negro: #000;
    --backObscuro: #332F21;
    --parrafo: #EBEBEB;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}