:root {
    --fuenteHeading: 'Lato', sans-serif;
    --funeteParrafo: 'Lato', sans-serif;
    --primario: #41B7B7;
    --secundario: #EBEBEB;
    --backOscuro: #232323;
    --primarioOpacity: #d36622;
    --primarioTransparente: #ed6f00d2;
    --blanco: #fff;
    --negro: #000;
    --backObscuro: #332F21;
    --backClaro: #e0e0e0;
    --transparencia: rgba(0, 0, 0, 0.692);
    --parrafo: #EBEBEB;
    --parrafoObs: #333333;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}