@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Bold.otf') format('otf'),
        url('../fonts/GlacialIndifference-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Glacial Indifference', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    background-color: none;
    /* Cambia el color de fondo a tu preferencia */
    color: #fff;
    /* Cambia el color del texto a tu preferencia */
    padding: 0 4rem;
    z-index: 100;
}

.menu-icon {
    display: none;
    font-size: 3rem;
    /* Tamaño del botón del menú en dispositivos móviles */
    cursor: pointer;
}


.logo img {
    margin-top: 1.6rem;
    width: 22rem;
}

#menu-toggle {
    display: none;
}

.menu-list {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 9rem;
    padding: 0;
    margin-top: 1.2rem;
}

.menu-list li {
    margin: 0 1.6rem;
    /* Espacio entre elementos del menú */
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    /* Color del texto del menú */
}

/* Estilos para el submenú */
.submenu:hover .sub-menu {
    display: block;
}

.menu-item:focus .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: none;
    padding: 1rem 0;
    z-index: 1;
    min-width: 1.5rem;
    /* Ajusta el ancho del submenú según tus necesidades */
}

.sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu li {
    margin: .7rem 0;
}

.sub-menu li a {
    color: #fff;
    /* Color del texto del submenú */
    text-decoration: none;
    display: block;

}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .menu {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        width: 24rem;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 100;
        /* Altura del botón del menú en dispositivos móviles */
        height: 100vh;
        background-color: #141111c0;
        /* Cambia el color de fondo del menú en dispositivos móviles */
        margin: 0;
        padding: 0;
    }

    .menu-list.active {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .menu-icon {
        display: block;
        margin-top: 2rem;
        margin-right: 3rem;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    #menu-toggle:checked+.menu-icon {
        color: #fff;
        /* Cambia el color del botón del menú cuando está activado */
    }

    #menu-toggle:checked+.menu-icon+.menu-list {
        display: flex;
    }
}

/** END NAV **/

/** SECTION HERO **/

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 80% 20%;
    background-image: url("../images/backgrounds/CliniacaEndoscopia.png");
    background-size: cover;
    animation: movimiento 10s linear infinite alternate;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    

}



@keyframes movimiento {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 47%;
    z-index: 1;
    /* Coloca el pseudo-elemento encima de la imagen de fondo */
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 2rem;
}

.hero-title h1 {
    font-weight: normal;
    font-size: 4rem;
    color: var(--parrafo);
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 2px;
}

.hero-title h1 span {
    color: var(--primario);
    font-size: 4.2rem;
    font-weight: bold;
}

.hero-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hero-btn__first {
    background-color: rgba(34, 34, 34, 0.8);
    backdrop-filter: blur(8px);
    width: 80%;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.hero-btn__second {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    width: 80%;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.hero-btn__first a {
    color: white;
    text-decoration: none;
    z-index: 10;
}

.hero-btn__second a {
    color: #000000;
    text-decoration: none;
    z-index: 3;
}

@media (min-width: 768px) {

    .hero-btn {
        flex-direction: row;
        gap: 3rem;
    }

    .hero-btn__first {
        background-color: rgba(34, 34, 34, 0.8);
        backdrop-filter: blur(8px);
        width: 15%;
        border-radius: 5px;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 1.8rem;
        text-decoration: none;
    }

    .hero-btn__second {
        background-color: rgba(255, 255, 255, 0.65);
        backdrop-filter: blur(8px);
        width: 15%;
        border-radius: 5px;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 1.8rem;
        text-decoration: none;
    }
}


/** END HERO **/



/** SECTION SERVICES **/

.services {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    background-image: url("../images/backgrounds/Penendoscopia.png");
    background-size: cover;
    animation: movimiento 10s linear infinite alternate;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


@keyframes movimiento {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 47%;
    z-index: 1;
    /* Coloca el pseudo-elemento encima de la imagen de fondo */
}

@media (max-width: 420px) {
    .services {
        animation: movimiento 30s linear infinite alternate;
    }
}

.services-title {
    z-index: 3;
    font-size: 2.5rem;
    color: var(--primario);
    margin-top: 11rem;
}

.services-slider {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    gap: 4.5rem;

}

.services-one,
.services-two {
    background-color: #ffffffab;
    width: 18%;
    height: 45vh;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 7px 0px rgba(41, 47, 50, 0.78);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(41, 47, 50, 0.78);
    -moz-box-shadow: 0px 4px 7px 0px rgba(41, 47, 50, 0.78);
}

.services-one img,
.services-two img {
    margin-top: -7rem;
    width: 12rem;
}

.services-one h2,
.services-two h2 {
    font-size: 2.5rem;
    color: var(--parrafoObs);
}

.services-one p,
.services-two p {
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
    color: var(--parrafoObs);
    margin-bottom: 2rem;
    line-height: 2.2rem;
}

.services-a {
    font-size: 1.8rem;
    color: var(--parrafoObs);

}

.btn-slider{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-slider a img{
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    margin-top: -5rem;
    background-color: #ffffffab;
    padding: 20px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .btn-slider{
        display: none;
    }
}

@keyframes borderAnimation {
    0% {
        border-color: var(--primario);
        /* Color inicial del borde */
    }

    50% {
        border-color: white;
        /* Color a la mitad de la animación */
    }

    100% {
        border-color: var(--primario);
        /* Color final del borde (vuelve al color original) */
    }
}

.services-one a:hover,
.services-two a:hover {
    animation: borderAnimation 2s infinite;
    /* Aplica la animación al borde */
}


.services-a__btn {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    z-index: 3;
    letter-spacing: 1px;
    background-color: rgba(34, 34, 34, 0.8);
    width: 80%;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    border: 3px solid transparent;
    /* Color inicial del borde */
    animation: none
}


@media (max-width: 760px) {
    .services-title {
        margin-top: 9rem;
        font-size: 2.2rem;
        font-weight: normal !important;
    }

    .serservices-slider-controls {
        display: flex;
    }

    .services-one,
    .services-two {
        width: 80%;
        /* Ocuparán el 100% del ancho en dispositivos móviles */
    }

    .services-two {
        display: none;
    }

    .services-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        min-height: 80vh;
        text-align: center;
        transition: transform 0.5s; /* Agregamos una transición para suavizar la animación */
    }

}

@media (max-width: 1130px) {

    .serservices-slider-controls {
        display: flex;
    }

    .services-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        min-height: 80vh;
        margin-top: -1rem;
        text-align: center;
    }

    .services-one,
    .services-two {
        width: 75%;
        margin: 0 3rem;
        /* Ocuparán el 100% del ancho en dispositivos móviles */
    }


}

/** END SERVICE **/