/* Nav line */

.menu-line {
    position: fixed;
    top: -1;
    left: 0;
    width: 100%;
    height: 100px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* Cambia el color de fondo a tu preferencia */
    color: var(--blanco);
    /* Cambia el color del texto a tu preferencia */
    padding: 0 4rem;
    z-index: 100;
    transition: background-color .8s ease;
}

.logo img {
    margin-top: 1.6rem;
    margin-left: -4rem;
    width: 15rem;
}

@media (min-width: 768px) {
    .logo img {
        margin-top: -.1rem;
        width: 17rem;
        margin-left: -1rem;
    }
}

.menu-list {
    font-size: 1em;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 7rem;
    padding: 0;
}

.menu-list li {
    margin: 0 1rem;
}

.menu-list li:last-child{
    margin-right: 0;
}

.menu-list li a {
    text-decoration: none;
    color: var(--blanco);
}

/* Estilos para el submenú */
.submenu:hover .sub-menu {
    display: block;
}

.menu-item:focus .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: none;
    padding: 1rem 0;
    z-index: 1;
    min-width: 1.5rem;
}

.sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu li {
    margin: .7rem 0;
}

.sub-menu li a {
    color: var(--blanco);
    text-decoration: none;
    display: block;
}

/* End nav line */


.logo-rd img{
    overflow: hidden;
    position: relative;
    width: 16rem;
    top: 1.8rem;
    left: 1.5rem;
}

div.screen {
    width: 100%;
    height: 6rem;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0%;
    background: transparent;
    z-index: 100;
}

div.burger {
    height: 4rem;
    width: 40px;
    position: absolute;
    top: 11px;
    right: 21px;
    cursor: pointer;
}

div.x,
div.y,
div.z {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    background: var(--primario);
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

div.x,
div.y,
div.z {
    height: 3px;
    width: 26px;
}

div.y {
    top: 18px;
}

div.z {
    top: 37px;
}

div.collapse {
    top: 20px;
    background: var(--primario);
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
}


div.rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}

div.rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}

div.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.navbar {
    height: 73px;
    background: none;
}

div.circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 35px;
    right: 36px;
    background: var(--blanco);
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.circle.expand {
    overflow: hidden;
    width: 1200px;
    height: 1200px;
    top: -560px;
    right: -565px;
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

}

div.menu {
    overflow: hidden;
    height: 568px;
    width: 320px;
    position: absolute;
    top: 0px;
    right: 0rem;
}

div.menu ul li {
    list-style: none;
    position: absolute;
    top: 50px;
    ;
    right: 0;
    opacity: 0;
    width: 320px;
    text-align: center;
    font-size: 0px;
    -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu ul li a {
    color: var(--backObscuro);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

div.menu li.animate {
    font-size: 1.31rem;
    opacity: 1;
    -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu li.animate:nth-of-type(1) {
    top: 120px;
    transition-delay: 0.0s;
}

div.menu li.animate:nth-of-type(2) {
    top: 190px;
    transition-delay: 0.03s;

}

div.menu li.animate:nth-of-type(3) {
    top: 260px;
    transition-delay: 0.06s;

}

div.menu li.animate:nth-of-type(4) {
    top: 330px;
    transition-delay: 0.09s;

}

div.menu li.animate:nth-of-type(5) {
    top: 400px;
    transition-delay: 0.12s;

}

div.menu li.animate:nth-of-type(6) {
    top: 29.375rem;
    transition-delay: 0.15s;

}


div.menu-space{
    background-color: none;
    width: 100%;
    height: 6rem;
    z-index: 20;
}

@media (min-width: 886px) {
    .screen{
        display: none;
    }
    .menu-line{
        display: flex;

    }

}