p {
  font-weight: 200;
  color: rgb(100, 100, 100);
}
h3 {
  color: rgb(100, 100, 100);
}

ul {
  color: rgb(100, 100, 100);
}

.screen {
  transition: background-color 0.8s ease;
}

.fondo-parallax {
  position: sticky;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 77%);
  background-image: url(../images/backgrounds/PanendoscopiaOp.png);
}

@media (max-width: 450px) {
  .fondo-parallax {
    height: 85vh;
  }
}
.contenido-parallax-titulo {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primario);
  z-index: 3;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.contenido-servicios {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  z-index: 3;
  max-width: 100%;
  padding: 1rem 20%;
}

.contenido-servicios-first {
  margin-top: -15rem !important;
  clip-path: polygon(0 19%, 100% 2%, 100% 100%, 0% 100%);
}

.contenido-servicios h3 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  margin-top: 0.6rem;
}

.contenido-servicios p {
  line-height: 1.4rem;
}

@media (max-width: 550px) {
  .contenido-servicios-first-h2 {
    margin-top: 1rem;
    max-width: 100%;
  }
  .contenido-servicios {
    max-width: 100%;
    padding: 1rem;
  }
}

.contenido-servicios ul {
  font-weight: 200;
}

.contenido-servicios ul li {
  margin: 0.4rem 0;
}

.container-gallery {
  position: relative;
  max-width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 10%;
}

.image {
  height: 13rem;
  margin: 1rem 0.6rem;
  width: 13rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 2;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  border-radius: 5px;
}

.image img {
  width: 100%;
  height: 98%;
}

.image:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backObsTrans);
}

.modal-content {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}

/* Formulario de contacto */

.container-contact-services {
  width: 100%;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0   ;
  margin-bottom: 4rem;
}

.container-contact-services-form_ {
  z-index: 10;
  width: 50rem;
  height: calc(auto + 2rem);
  background: #e6e6e6;
  border-radius: 8px;
  padding: 3rem 6rem;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  box-shadow: 0px 0px 15px -1px rgba(15, 15, 15, 1);
  -webkit-box-shadow: 0px 0px 15px -1px rgba(15, 15, 15, 1);
  -moz-box-shadow: 0px 0px 15px -1px rgba(15, 15, 15, 1);
}

.w-100 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: border-bottom ease 0.5s;
  border-bottom: 1px solid #505658;
}

.w-100:focus {
  border-bottom: 1px solid var(--primario);
}

/* End formulario de contacto */

.footer {
  background-color: #333333aa;
  color: #fff;
  padding: 0.7rem;
  text-align: center;
  bottom: 0;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  font-size: 14px;
}

.horizontal-list li {
  margin-right: 1rem;
  color: var(--parrafo);
}

@media (max-width: 450px) {
  .horizontal-list {
    flex-direction: column;
    justify-content: end;
  }
  .horizontal-list li {
    margin-top: 0.8rem;
  }
}


input, textarea{
    font-weight: 200;
}

.container-contact-services-form_ button{
    /* width: calc(100% - 1rem);  */
    width: 100%;
    color: #333;
    font-weight: bold;
    padding: 0.7rem 8rem;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 1.5rem;
    background-color: var(--backClaTrans);
}